<div class="home">

<bio>
  <div id="text">
  I am a second year Ph.D student in Computer Science at Stanford University, co-advised by Prof. <a href="http://www.bailis.org/">Peter Bailis</a> and Prof. <a href="http://csl.stanford.edu/~pal/">Philip Levis.</a>
  I am a member of the <a href="http://futuredata.stanford.edu/"> Stanford Future Data Systems</a> group, and the <a href="http://iot.stanford.edu/">Secure Internet of Things Project</a>. I am broadly interested in efficient and effective data analytics for large-scale, machine generated data. My current project focuses on smoothing parameter selection for time series visualization.
  </div>
  <div id="image">{% include me.svg %}</div>
</bio>
<br/>
<div>
  I graduated from <a href="http://www.caltech.edu/">California Institute of Technology</a> in 2015 with a B.S. in Computer Science. Before that, I attended Nanjing Foreign Language School in Nanjing, China.
</div>
</div>